spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${DATABASE_DDL_AUTO:update}
    properties:
      hibernate:
        format_sql: ${DATABASE_FORMAT_SQL:true}
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: ${DATABASE_SHOW_SQL:true}

